
        .xxsj__0 {
            width: auto;
		 min-width: 1024px;
		
        }
        

        .xxsj__1 {
            min-height: 100%;
		 width: 100%;
		 min-width: 1024px;
		 height: 100%;
		 overflow: visible;
		 position: relative;
		
        }
        

        .xxsj__2 {
            min-height: 200px;
		 overflow: visible;
		 position: relative;
		
        }
        

        .xxsj__3 {
            min-width:40px;
		line-height: 34px;
		font-size:14px;
		
        }
        

        .xxsj__4 {
            display: inline-block;
		 width: 100%;
		 height: auto;
		 overflow: visible;
		 position: relative;
		
        }
        

        .xxsj__5 {
            line-height: 28px;
		 text-align: right;
		 text-overflow: ellipsis;
		 white-space: nowrap;
		
        }
        

        .xxsj__6 {
            line-height: 28px;
		 text-align: right;
		 text-overflow: ellipsis;
		
        }
        

        .xxsj__7 {
            overflow: visible;
		 position: relative;
		 text-align: center;
		
        }
        

        .xxsj__8 {
            min-height: 180px;
		
        }
        

        .xxsj__9 {
            width: 100%;
		
        }
        
